* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #fff;
}

.barra-navegacion {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    background-color: #f2f2f2;
}

.logo {
    width: 40px;
    height: 20px;
    background-color: coral;
}

.buscador {
    flex: 1;
    height: 20px;
    background-color: #ddd;
}

.menu-links {
    width: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px 0;
    margin-top: 15px;
}

.destacado {
    background-color: #c6eef3;
    display: flex;
    padding: 40px;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.foto-destacada {
    width: 150px;
    height: 150px;
    background-color: #8ed3da;
    flex-shrink: 0;
}

.texto-destacado .titulo {
    width: 200px;
    height: 20px;
    background-color: #000;
    margin-bottom: 10px;
}

.texto-destacado .linea {
    width: 250px;
    height: 8px;
    background-color: #ffff;
    margin-bottom: 5px;
}

.texto-destacado .linea-corta {
    width: 150px;
    height: 8px;
    background-color: #fff;
}

.cajas {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
}

.caja {
    width: 180px;
    height: 180px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.caja.naranja {
    background-color: #ffa07a;
}

.fondo-buscar {
    display: flex;
    width: 60%;
    max-width: 500px;
    overflow: hidden;
    margin: 20px auto;
}

.fondo-buscar input[type="search"] {
    flex-grow: 1;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    background-color: #FF7F50;
    color: #fff;
    outline: none;
}



.fondo-buscar button {
    border: none;
    padding: 10px 15px;
    background-color: #4A4A4A;
    color: white;
    font-size: 1rem;
}

.fondo-buscar button:hover {
    background-color: #333;
}

.fondo-buscar button i {
    display: block;
}
.cajas {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
}

.caja {
    width: 180px;
    height: 180px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
}

.caja.naranja {
    background-color: #ffa07a;
    align-items: flex-start; 
}

.caja.celeste {
    background-color: #add8e6;
}

.caja.amarillo {
    background-color: #ffd700;
}

.contenido-caja {
    width: 100%;
}

.linea-caja {
    background-color: #fff;
    height: 10px;
    margin-bottom: 8px;
    width: 60%;
}

.linea-caja-media {
    background-color: #fff;
    height: 10px;
    width: 80%;
    margin-bottom: 8px;
}

